html {
  height:100%;
}
body {
  background: linear-gradient(-45deg,pink, #cce6ff) no-repeat;
}
.col-md-3 {
  background-image: url("../img/card.jpg");
}
p {
  display:none;
  padding:10px;
  border: 1px dotted black;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px grey;
  font-family: 'Ubuntu', cursive;
}
h3 {
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-family: 'Anton', cursive;
}
div.col-md-3 {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
